<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>Agent Server Framework</display-name>
 
   <servlet>
        <servlet-name>Sender</servlet-name>
        <servlet-class>org.midas.as.broker.Sender</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Sender</servlet-name>
        <url-pattern>/broker/sender</url-pattern>
    </servlet-mapping>

   <servlet>
        <servlet-name>Receiver</servlet-name>
        <servlet-class>org.midas.as.broker.Receiver</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Receiver</servlet-name>
        <url-pattern>/broker/receiver</url-pattern>
    </servlet-mapping>
</web-app>
